
@{
    ViewBag.Title = "Auth";
}

<div id="auth">
    <form method="Post"  action='/Admin/Goods' >
        <p>Введите Логин:</p>
        <input type="text" name="login">
        <p>Введите пароль:</p>
        <input type="password" name="password">
        <br />
        <br />
        <input type="submit" name="okbutton" value="Авторизоваться"/>
    </form>
</div>

