@model IEnumerable<InternetShop.Models.Good>
@{
    ViewBag.Title = "Home Page";
    int i = 0;
    int len = 0;
}
<style>
    #test {
        position: relative;
        float:left;
        width:325px;
        height:300px;
        margin-left:20px;
    }

    #bottom{
        bottom: 15px;
        position: absolute;
        right: 5px;
    }
    
</style>
<br />
@foreach (var item in Model)
{
    <a href="@Url.Action("Select", "Home", new { id = item.Id })">
        <div class="well" id="test">
            <img src="@item.Image">
            <h3>
                <strong>@item.Name</strong>
            </h3>
        
            <h3>
                <span class="pull-right label label-primary" id="bottom">@item.Price.ToString("# руб")</span>
            </h3>
</div>
    </a>
}
